a {
    text-align: center;
    color: grey;
}
a:hover{
    color: blue;
}
#title{
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    font-size: 24px;
    display: block;
    padding-top: 20px;
}
#mainbox{
    /* border: 1px solid black; */
    height: 2700px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#firstbox{
    /* border: 1px solid red; */
    width: 280px;
    height: 100%;

}
#secondbox{
    /* border: 1px solid purple; */
    width: 1080px;
    height: auto;
}
#perpage{
    display: flex;
    height: 48px;
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px 8px 8px;
    justify-content: end;
}
#perpage>p{
    margin-right: 20px;
    margin-top: 10px;
}
#page10{
height: 40px;
padding: 0 24px 0 10px;
margin-left: 10px;
margin-top: 5px;
border: 1px solid rgb(168, 153, 153);
}
#products{
    /* border: 1px solid purple; */
    height: 3000px;
    margin-top: 20px;
}
#title1{
    font-weight: 700;   
    line-height: 29px;
    text-align: start;
    font-size: 16px;
    padding-top: 10px; 
    padding-left: 15px;
    margin-top: 0px;
}
#filterbox{
    background-color: #f9f9f9;
    width: 100%;
    height: 250px;
    border: 2px solid #ffffff;
    margin-top: 10px;
}
#filterbox1{
    background-color: #ffffff;
    width: 100%;
    height: 275px;
    border: 2px solid #ffffff;
    /* margin-top: 10px; */
}
.inp > label {
    margin-left: 10px;
    font-size: 18px;
    /* border: 1px solid red; */
}
.inp {
    text-align: start;
    margin-left: 20px;  
}
.inp > input {
    height: 15px;
    width: 15px;
}
#colorfilter{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-left: 30px;
    text-align: start;
    height: 150px;
    /* border: 1px solid red; */
    margin: 20px;
}
.inp1 > input {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
#filterbox2{
    height: 180px;
}
